# 정렬
## index이름, column 이름을 기준으로 정렬

- <b style='font-size:1.2em'>sort_index(axis=0, ascending=True, inplace=False)</b>
    - axis
        - index 이름 기준 정렬(행) : 'index' 또는 0 (기본값)
        - column 이름 기준 정렬(열) : 'columns' 또는 1
    - ascending
        - 정렬방식
        - True(기본): 오름차순, False: 내림차순
    - inplace
        - 원본에 적용 여부
        - False(기본): 변경한 복사본 반환 
        - True : 원본을 변경

In [12]:
import pandas as pd
import numpy as np

In [5]:
movie = pd.read_csv('data/movie.csv', index_col = 'movie_title')
movie.head(2)

,color,director_name,num_critic_for_reviews,duration,director_facebook_likes,actor_3_facebook_likes,actor_2_name,actor_1_facebook_likes,gross,genres,...,num_user_for_reviews,language,country,content_rating,budget,title_year,actor_2_facebook_likes,imdb_score,aspect_ratio,movie_facebook_likes
movie_title,,,,,,,,,,,,,,,,,,,,,
Avatar,Color,James Cameron,723.0,178.0,0.0,855.0,Joel David Moore,1000.0,760505847.0,Action|Adventure|Fantasy|Sci-Fi,...,3054.0,English,USA,PG-13,237000000.0,2009.0,936.0,7.9,1.78,33000
Pirates of the Caribbean: At World's End,Color,Gore Verbinski,302.0,169.0,563.0,1000.0,Orlando Bloom,40000.0,309404152.0,Action|Adventure|Fantasy,...,1238.0,English,USA,PG-13,300000000.0,2007.0,5000.0,7.1,2.35,0

In [8]:
movie.sort_index(axis=1, ascending=False)

,actor_1_facebook_likes,actor_1_name,actor_2_facebook_likes,actor_2_name,actor_3_facebook_likes,actor_3_name,aspect_ratio,budget,cast_total_facebook_likes,color,...,gross,imdb_score,language,movie_facebook_likes,movie_imdb_link,num_critic_for_reviews,num_user_for_reviews,num_voted_users,plot_keywords,title_year
movie_title,,,,,,,,,,,,,,,,,,,,,
Avatar,1000.0,CCH Pounder,936.0,Joel David Moore,855.0,Wes Studi,1.78,237000000.0,4834,Color,...,760505847.0,7.9,English,33000,http://www.imdb.com/title/tt0499549/?ref_=fn_t...,723.0,3054.0,886204,avatar|future|marine|native|paraplegic,2009.0
Pirates of the Caribbean: At World's End,40000.0,Johnny Depp,5000.0,Orlando Bloom,1000.0,Jack Davenport,2.35,300000000.0,48350,Color,...,309404152.0,7.1,English,0,http://www.imdb.com/title/tt0449088/?ref_=fn_t...,302.0,1238.0,471220,goddess|marriage ceremony|marriage proposal|pi...,2007.0
Spectre,11000.0,Christoph Waltz,393.0,Rory Kinnear,161.0,Stephanie Sigman,2.35,245000000.0,11700,Color,...,200074175.0,6.8,English,85000,http://www.imdb.com/title/tt2379713/?ref_=fn_t...,602.0,994.0,275868,bomb|espionage|sequel|spy|terrorist,2015.0
The Dark Knight Rises,27000.0,Tom Hardy,23000.0,Christian Bale,23000.0,Joseph Gordon-Levitt,2.35,250000000.0,106759,Color,...,448130642.0,8.5,English,164000,http://www.imdb.com/title/tt1345836/?ref_=fn_t...,813.0,2701.0,1144337,deception|imprisonment|lawlessness|police offi...,2012.0
Star Wars: Episode VII - The Force Awakens,131.0,Doug Walker,12.0,Rob Walker,NaN,NaN,NaN,NaN,143,NaN,...,NaN,7.1,NaN,0,http://www.imdb.com/title/tt5289954/?ref_=fn_t...,NaN,NaN,8,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Signed Sealed Delivered,637.0,Eric Mabius,470.0,Daphne Zuniga,318.0,Crystal Lowe,NaN,NaN,2283,Color,...,NaN,7.7,English,84,http://www.imdb.com/title/tt3000844/?ref_=fn_t...,1.0,6.0,629,fraud|postal worker|prison|theft|trial,2013.0
The Following,841.0,Natalie Zea,593.0,Valorie Curry,319.0,Sam Underwood,16.00,NaN,1753,Color,...,NaN,7.5,English,32000,http://www.imdb.com/title/tt2071645/?ref_=fn_t...,43.0,359.0,73839,cult|fbi|hideout|prison escape|serial killer,NaN
A Plague So Pleasant,0.0,Eva Boehnke,0.0,Maxwell Moody,0.0,David Chandler,NaN,1400.0,0,Color,...,NaN,6.3,English,16,http://www.imdb.com/title/tt2107644/?ref_=fn_t...,13.0,3.0,38,NaN,2013.0
Shanghai Calling,946.0,Alan Ruck,719.0,Daniel Henney,489.0,Eliza Coupe,2.35,NaN,2386,Color,...,10443.0,6.3,English,660,http://www.imdb.com/title/tt2070597/?ref_=fn_t...,14.0,9.0,1255,NaN,2012.0
My Date with Drew,86.0,John August,23.0,Brian Herzlinger,16.0,Jon Gunn,1.85,1100.0,163,Color,...,85222.0,6.6,English,456,http://www.imdb.com/title/tt0378407/?ref_=fn_t...,43.0,84.0,4285,actress name in title|crush|date|four word tit...,2004.0

In [9]:
df2 = movie.sort_index()
df2.loc['A':'C']

,color,director_name,num_critic_for_reviews,duration,director_facebook_likes,actor_3_facebook_likes,actor_2_name,actor_1_facebook_likes,gross,genres,...,num_user_for_reviews,language,country,content_rating,budget,title_year,actor_2_facebook_likes,imdb_score,aspect_ratio,movie_facebook_likes
movie_title,,,,,,,,,,,,,,,,,,,,,
A Beautiful Mind,Color,Ron Howard,205.0,135.0,2000.0,535.0,Austin Pendleton,1000.0,170708996.0,Biography|Drama,...,1171.0,English,USA,PG-13,58000000.0,2001.0,592.0,8.2,1.85,29000
A Beginner's Guide to Snuff,Color,Mitchell Altieri,NaN,87.0,9.0,165.0,Luke Edwards,467.0,NaN,Comedy|Horror|Thriller,...,NaN,English,USA,NaN,NaN,2016.0,258.0,8.7,NaN,8
A Better Life,Color,Chris Weitz,94.0,98.0,129.0,221.0,Eddie 'Piolin' Sotelo,749.0,1754319.0,Drama|Romance,...,81.0,English,USA,PG-13,10000000.0,2011.0,252.0,7.2,1.85,0
A Bridge Too Far,Black and White,Richard Attenborough,56.0,175.0,0.0,14.0,Dirk Bogarde,385.0,50800000.0,Drama|History|War,...,210.0,English,USA,PG,26000000.0,1977.0,232.0,7.4,2.35,0
A Bug's Life,Color,John Lasseter,117.0,95.0,487.0,1000.0,Madeline Kahn,18000.0,162792677.0,Adventure|Animation|Comedy|Family|Fantasy,...,317.0,English,USA,G,120000000.0,1998.0,1000.0,7.2,2.35,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
But I'm a Cheerleader,Color,Jamie Babbit,99.0,85.0,91.0,849.0,Clea DuVall,1000.0,2199853.0,Comedy|Drama,...,186.0,English,USA,R,1200000.0,1999.0,1000.0,6.6,1.85,0
Butch Cassidy and the Sundance Kid,Color,George Roy Hill,130.0,110.0,131.0,399.0,Ted Cassidy,640.0,102308900.0,Biography|Crime|Drama|Western,...,309.0,English,USA,M,6000000.0,1969.0,566.0,8.1,2.35,0
Butterfly,Color,Matt Cimber,15.0,108.0,32.0,180.0,June Lockhart,602.0,NaN,Crime|Drama,...,18.0,English,USA,R,NaN,1982.0,427.0,4.5,1.85,76
Butterfly Girl,Color,Cary Bell,NaN,78.0,0.0,0.0,Stacie Evans,0.0,NaN,Documentary,...,1.0,English,USA,NaN,180000.0,2014.0,0.0,8.7,NaN,88
By the Sea,Color,Angelina Jolie Pitt,131.0,122.0,11000.0,188.0,Angelina Jolie Pitt,11000.0,531009.0,Drama|Romance,...,61.0,English,USA,R,10000000.0,2015.0,11000.0,5.3,2.35,0

## 특정 컬럼(열)의 값을 기준으로 정렬
- <b style='font-size:1.2em'>sort_values(by, ascending, inplace)</b>
    - by
        - **정렬 기준 컬럼이름**을 문자열로 지정
        - 여러 컬럼에 대해 정렬할 경우 리스트에 담아 전달
    - ascending
        - 정렬방식
        - True(기본): 오름차순, False: 내림차순
        - 여러 컬럼에 대해 정렬할 경우 정렬방식도 리스트에 담아 전달
    - inplace
        - 원본에 적용 여부
        - False(기본): 변경한 복사본 반환 
        - True : 원본을 변경
    - 결측치는 방식과 상관없이 마지막에 나온다.

In [10]:
movie.sort_values('duration')

,color,director_name,num_critic_for_reviews,duration,director_facebook_likes,actor_3_facebook_likes,actor_2_name,actor_1_facebook_likes,gross,genres,...,num_user_for_reviews,language,country,content_rating,budget,title_year,actor_2_facebook_likes,imdb_score,aspect_ratio,movie_facebook_likes
movie_title,,,,,,,,,,,,,,,,,,,,,
The Touch,Color,Jane Clark,NaN,7.0,23.0,51.0,Traci Dinwiddie,344.0,NaN,Romance|Short,...,NaN,English,USA,NaN,13000.0,2007.0,281.0,5.2,1.85,30
Shaun the Sheep,Color,NaN,12.0,7.0,NaN,3.0,John Sparkes,45.0,NaN,Animation|Comedy|Family,...,12.0,English,UK,TV-G,NaN,NaN,7.0,8.3,NaN,834
Robot Chicken,Color,NaN,38.0,11.0,NaN,0.0,Seth Green,11.0,NaN,Animation|Comedy,...,75.0,English,USA,TV-MA,NaN,NaN,0.0,7.8,1.33,1000
Vessel,Color,Clark Baker,1.0,14.0,0.0,37.0,Alan Pietruszewski,134.0,NaN,Horror|Sci-Fi|Short|Thriller,...,3.0,English,USA,NaN,NaN,2012.0,93.0,6.2,NaN,14
Wal-Mart: The High Cost of Low Price,Color,Robert Greenwald,56.0,20.0,21.0,0.0,Jon Hunter,0.0,NaN,Documentary,...,70.0,English,USA,Not Rated,1500000.0,2005.0,0.0,6.8,1.85,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Wolf Creek,Color,NaN,2.0,NaN,NaN,206.0,John Jarratt,511.0,NaN,Drama|Horror|Thriller,...,6.0,English,Australia,NaN,NaN,NaN,457.0,7.1,2.00,954
Karachi se Lahore,Color,Wajahat Rauf,6.0,NaN,3.0,4.0,Ayesha Omar,7.0,NaN,Comedy|Family,...,15.0,Urdu,Pakistan,NaN,1000000.0,2015.0,5.0,7.0,NaN,259
Destiny,Color,Joseph Kosinski,4.0,NaN,364.0,567.0,Lauren Cohan,22000.0,NaN,Action|Adventure|Fantasy|Sci-Fi,...,11.0,English,USA,NaN,NaN,2014.0,4000.0,8.1,NaN,1000
Romantic Schemer,Color,Valentine,NaN,NaN,0.0,NaN,Valentine,17.0,NaN,Romance,...,NaN,English,USA,PG-13,125000.0,2015.0,0.0,5.1,NaN,0
The Naked Ape,Color,Daniel Mellitz,NaN,NaN,0.0,15.0,Chelse Swain,1000.0,NaN,Comedy|Drama,...,3.0,English,USA,NaN,NaN,2006.0,36.0,4.7,NaN,2

In [ ]:
# 1차 duration 으로 정렬
# 2차 duration이 같은 행 기준으로 director_facebook_likes으로 정렬
movie.sort_values(['duration', 'director_facebook_likes']).head(3)

# flights.csv (항공기 운항 기록 데이터)
- MONTH : 비행 월
- DAY : 비행 일
- WEEKDAY : 비행 요일 - 1(월요일)~7(일요일)
- AIRLINE : 항공사 코드
     - UA:	United Air Lines Inc.
     - AA:	American Airlines Inc.
     - US:	US Airways Inc.
     - F9:	Frontier Airlines Inc.
     - B6:	JetBlue Airways
     - OO:	Skywest Airlines Inc.
     - AS:	Alaska Airlines Inc.
     - NK:	Spirit Air Lines
     - WN:	Southwest Airlines Co.
     - DL:	Delta Air Lines Inc.
     - EV:	Atlantic Southeast Airlines
     - HA:	Hawaiian Airlines Inc.
     - MQ:	American Eagle Airlines Inc.
     - VX:	Virgin America
- ORG_AIR : 출발공항
- DEST_AIR : 도착공항
- SCHED_DEP : 출발예정시각
- DEP_DELAY : 출발지연시간(분)
- AIR_TIME : 비행시간(분)
- DIST : 비행거리(마일)
- SCHED_ARR : 도착예정시각
- ARR_DELAY : 도착지연시간(분)
- DIVERTED : 회항여부(1: True, 0: False)
- CANCELLED : 취소여부(1: True, 0: False)

In [27]:
df = pd.read_csv('data/flights.csv')
print(df.head(3))

   MONTH  DAY  WEEKDAY AIRLINE ORG_AIR DEST_AIR  SCHED_DEP  DEP_DELAY  \
0      1    1        4      WN     LAX      SLC       1625       58.0
1      1    1        4      UA     DEN      IAD        823        7.0
2      1    1        4      MQ     DFW      VPS       1305       36.0

   AIR_TIME  DIST  SCHED_ARR  ARR_DELAY  DIVERTED  CANCELLED
0      94.0   590       1905       65.0         0          0
1     154.0  1452       1333      -13.0         0          0
2      85.0   641       1453       35.0         0          0

In [29]:
df.shape

(58492, 14)

In [26]:
# df.isnull().sum()
# null 값존재
# DEP_DELAY : 출발지연시간(분)  833
# AIR_TIME : 비행시간(분) 1018
# ARR_DELAY : 도착지연시간(분) 1018
# 즉, 881번의 비행취소와 137번의 결항으로 인한 AIR_TIME, ARR_DELAY null값 확인.
#####################################
# SCHED_DEP : 출발예정시각 730
# SCHED_ARR : 도착예정시각 853
# df[df['ARR_DELAY'].isnull()]['CANCELLED'].sum()
# 881번 취소됨

# 결항 : 137번 결항.
df['DIVERTED'].sum()

137

In [34]:
df['AIRLINE'].value_counts()

DL    10601
AA     8900
WN     8418
UA     7792
OO     6588
EV     5858
MQ     3471
US     1615
NK     1516
F9     1317
VX      993
AS      768
B6      543
HA      112
Name: AIRLINE, dtype: int64

In [35]:
df['AIRLINE'].unique()

array(['WN', 'UA', 'MQ', 'AA', 'F9', 'EV', 'OO', 'NK', 'US', 'AS', 'DL',
       'VX', 'B6', 'HA'], dtype=object)

In [44]:
# skipna=False -> null값을 포함해서 계산  --> 결과값은 null
df.mean(numeric_only = True, skipna=False)

MONTH           6.220646
DAY            15.702096
WEEKDAY         3.926862
SCHED_DEP    1387.984836
DEP_DELAY            NaN
AIR_TIME             NaN
DIST          872.900072
SCHED_ARR    1549.399832
ARR_DELAY            NaN
DIVERTED        0.002342
CANCELLED       0.015062
dtype: float64

In [41]:
df.describe()

,MONTH,DAY,WEEKDAY,SCHED_DEP,DEP_DELAY,AIR_TIME,DIST,SCHED_ARR,ARR_DELAY,DIVERTED,CANCELLED
count,58492.000000,58492.000000,58492.000000,58492.000000,57659.000000,57474.000000,58492.000000,58492.000000,57474.000000,58492.000000,58492.000000
mean,6.220646,15.702096,3.926862,1387.984836,10.921192,115.928576,872.900072,1549.399832,5.812315,0.002342,0.015062
std,3.358484,8.760846,1.995777,482.810792,36.146210,71.679591,624.996805,518.599952,38.411948,0.048340,0.121800
min,1.000000,1.000000,1.000000,5.000000,-24.000000,8.000000,67.000000,1.000000,-60.000000,0.000000,0.000000
25%,3.000000,8.000000,2.000000,1000.000000,-4.000000,61.000000,391.000000,1159.000000,-12.000000,0.000000,0.000000
50%,6.000000,16.000000,4.000000,1353.000000,-1.000000,97.000000,690.000000,1603.000000,-4.000000,0.000000,0.000000
75%,9.000000,23.000000,6.000000,1805.000000,10.000000,152.000000,1199.000000,1959.000000,9.000000,0.000000,0.000000
max,12.000000,31.000000,7.000000,2359.000000,1194.000000,577.000000,4502.000000,2359.000000,1185.000000,1.000000,1.000000

In [39]:
np.argmax(df['SCHED_DEP'])

127

# 기술통계 메소드들을 이용한 데이터 집계
## 주요 기술통계 메소드

|함수|설명|
|-|-|
|**sum()**|합계|
|**mean()**|평균|
|**median()**|중위수|
|**mode()**|최빈값|
|**quantile()**|분위수|
|**std()**|표준편차|
|**var()**|분산|
|**count()**|결측치를 제외한 원소 개수|
|**min()**|최소값|
|**max()**|최대값|
|**idxmax()**|최대값 index|
|**idxmin()**|최소값 index|
|**unique()**|고유값|
|**nunique()**|고유값의 개수|

<center><b style='font-size:1.2em'>cf) value_counts()는 Series에만 사용할 수 있다.</b></center>

- DataFrame에 위의 기술 통계 메소드들을 적용할 경우 **컬럼별로 계산한다.**
- sum(), mode(), max(), min(), unique(), nunique(), count()는 **문자열에 적용가능하다.**
    - idxmax(), idxmin() 는 문자열 컬럼에 사용할 수 없다. (문자열의 경우 넘파이의 argmax(), argmin() 함수를 사용한다.)

- **공통 매개변수**
    - skipna=True(기본값)
        - 결측치(NA)를 포함해서 계산할지 여부 설정.
        - True가 기본값으로 결측치(NA)를 제외하고 처리한다. 
        - 결측치 제외하지 않으려면 skipna=False로 설정하는데 결측치가 있으면 결과는 결측치가 된다.
    - axis
        - DataFrame에 적용할 때 계산방향을 설정
            - 0 또는 'index' (기본값): 컬럼 방향으로 집계
            - 1 또는 'columns': 행 방향으로 집계

## aggregate(func, axis=0, \*args, \*\*kwargs) 또는 agg(func, axis=0, \*args, \*\*kwargs)
- DataFrame, Series의 메소드로 **집계결과를 다양한 형태로 묶어서 볼 때** 사용한다.
    - **사용자 정의 집계메소드를 사용할 때도 편리하다.**
- **매개변수**
    - func 
        - 집계 함수 지정
            - 함수명/함수리스트 (문자열)
                - 판다스 제공 집계메소드들은 문자열로, 사용자정의 집계함수는 함수 객체로 전달
            - Dictionary : {'집계할컬럼' : 집계함수, ... }
                - 컬럼별로 다른 집계를 할 경우
    - axis
        - DataFrame에 적용할 때 0 방향으로 계산할 지 1 방향으로 계산할지 설정
            - 0 또는 'index' (기본값): 컬럼 방향으로 집계
            - 1 또는 'columns': 행 방향으로 집계
    - \*args, \*\*kwargs 
        - 함수에 전달할 매개변수. 
        - 집계함수는 첫번째 매개변수로 Series를 받는다. 그 이외의 매개변수가 있는 경우.

In [47]:
# 도착 지연 시간. --> 최소, 최대 값
df['ARR_DELAY'].aggregate(['min','max']), df['ARR_DELAY'].agg(['min','max'])

(min     -60.0
 max    1185.0
 Name: ARR_DELAY, dtype: float64,
 min     -60.0
 max    1185.0
 Name: ARR_DELAY, dtype: float64)

In [49]:
func ={
    "DEP_DELAY":"mean",
    "AIR_TIME":["min", 'max']
}
df.agg(func)

      DEP_DELAY  AIR_TIME
mean  10.921192       NaN
min         NaN       8.0
max         NaN     577.0

In [51]:
def min_max_diff(col):
    return col.max() - col.min()

In [53]:
min_max_diff(df['AIR_TIME'])

569.0

In [57]:
df.select_dtypes(exclude="object").agg(['min', 'max', 'mean'])

,MONTH,DAY,WEEKDAY,SCHED_DEP,DEP_DELAY,AIR_TIME,DIST,SCHED_ARR,ARR_DELAY,DIVERTED,CANCELLED
min,1.000000,1.000000,1.000000,5.000000,-24.000000,8.000000,67.000000,1.000000,-60.000000,0.000000,0.000000
max,12.000000,31.000000,7.000000,2359.000000,1194.000000,577.000000,4502.000000,2359.000000,1185.000000,1.000000,1.000000
mean,6.220646,15.702096,3.926862,1387.984836,10.921192,115.928576,872.900072,1549.399832,5.812315,0.002342,0.015062

# Groupby
- 특정 열을 기준으로 같은 값을 가지는 행끼리 묶어서 group화 한다.
- **~~ 별 집계를 할 때** 사용한다. (성별, 직급별, 등급별 ...)
    - Group으로 묶을 기준 열은 범주형타입(category)을 사용한다.
- **구문**
    - `DF.groupby('그룹으로묶을기준컬럼')`
        - DataFrameGroupby 객체를 반환한다.
        - DataFrameGroupby 객체는 어떤 행끼리 묶여있는지 정보를 가진다. 이 객체의 집계함수를 사용하면 그룹별 집계를 할 수 있다.
            - `DataFrameGroupby객체['집계할 컬럼'].집계함수()`
        - groupby에 여러개의 컬럼을 기준으로 나눌 경우 리스트에 묶어서 전달한다.
        - 집계할 컬럼이 여러개인 경우 리스트로 묶어준다.
    - 집계함수
        - 기술통계 함수들
        - agg()/aggregate()
            - 여러 다른 집계함수 호출시(여러 집계를 같이 볼경우)
            - 사용자정의 집계함수 호출시
            - 컬럼별로 다른 집계함수들을 호출할 경우

In [60]:
df.groupby('AIRLINE').mean(numeric_only= True)

,MONTH,DAY,WEEKDAY,SCHED_DEP,DEP_DELAY,AIR_TIME,DIST,SCHED_ARR,ARR_DELAY,DIVERTED,CANCELLED
AIRLINE,,,,,,,,,,,
AA,6.661461,15.570562,3.986966,1340.140449,11.274057,144.259404,1114.347865,1546.960899,5.542661,0.002921,0.017303
AS,6.197917,15.247396,3.941406,1418.269531,1.808594,147.845052,1065.884115,1548.292969,-0.833333,0.000000,0.000000
B6,6.368324,15.788214,4.040516,1512.924494,14.287823,209.412963,1771.882136,1432.889503,8.692593,0.003683,0.001842
DL,6.277332,15.721158,3.913310,1426.563154,7.242450,115.334187,866.448448,1578.735402,0.339691,0.002264,0.003585
EV,6.003926,15.866166,3.927450,1415.510413,9.092625,68.964016,460.237453,1571.798054,7.034580,0.002561,0.024923
F9,6.401670,15.914958,4.007593,1407.121488,14.310398,127.592337,969.593014,1510.177677,13.630651,0.001519,0.007593
HA,5.508929,15.526786,3.750000,959.419643,2.571429,338.288288,2615.178571,1280.714286,4.972973,0.008929,0.000000
MQ,5.970614,15.598963,3.902622,1432.251801,11.094323,61.318346,404.229041,1587.835494,6.860591,0.001441,0.043791
NK,6.602243,15.680739,4.006596,1336.634565,19.514401,135.736878,1047.428100,1398.226913,18.436070,0.003298,0.016491
OO,6.134791,15.651943,3.923345,1426.486794,9.662279,76.010272,511.239375,1573.730267,7.593463,0.003188,0.021554
UA,6.322510,15.697510,3.871535,1357.970739,16.210485,155.650521,1230.918891,1532.871150,7.765755,0.002438,0.011935
US,3.628483,16.079876,4.063777,1289.552941,4.361355,147.686755,1181.226625,1489.131269,1.681105,0.000619,0.013003
VX,6.336354,15.518630,3.924471,1385.110775,8.918946,154.864097,1240.296073,1581.023162,5.348884,0.001007,0.006042
WN,6.298646,15.746971,3.884652,1370.585650,12.639366,107.005897,809.985626,1532.243407,6.397353,0.001782,0.011048

In [65]:
df.groupby('AIRLINE')['ARR_DELAY'].mean()

AIRLINE
AA     5.542661
AS    -0.833333
B6     8.692593
DL     0.339691
EV     7.034580
F9    13.630651
HA     4.972973
MQ     6.860591
NK    18.436070
OO     7.593463
UA     7.765755
US     1.681105
VX     5.348884
WN     6.397353
Name: ARR_DELAY, dtype: float64

In [66]:
df.groupby('AIRLINE')[['DEP_DELAY','ARR_DELAY']].mean()

         DEP_DELAY  ARR_DELAY
AIRLINE
AA       11.274057   5.542661
AS        1.808594  -0.833333
B6       14.287823   8.692593
DL        7.242450   0.339691
EV        9.092625   7.034580
F9       14.310398  13.630651
HA        2.571429   4.972973
MQ       11.094323   6.860591
NK       19.514401  18.436070
OO        9.662279   7.593463
UA       16.210485   7.765755
US        4.361355   1.681105
VX        8.918946   5.348884
WN       12.639366   6.397353

##  복수열 기준 그룹핑
- 두개 이상의 열을 그룹으로 묶을 수 있다. 
- groupby의 매개변수에 그룹으로 묶을 컬럼들의 이름을 리스트로 전달한다.

In [69]:
df.groupby(['ORG_AIR', 'DEST_AIR'])['DEP_DELAY'].mean()

ORG_AIR  DEST_AIR
ATL      ABE          9.612903
         ABQ          7.062500
         ABY         22.473684
         ACY          7.166667
         AEX         11.000000
                       ...
SFO      SNA          8.483051
         STL         25.100000
         SUN         17.700000
         TUS         14.200000
         XNA         -3.000000
Name: DEP_DELAY, Length: 1130, dtype: float64

In [74]:
res = df.groupby(['AIRLINE', 'MONTH'])['DEST_AIR'].count()
res

AIRLINE  MONTH
AA       1        677
         2        615
         3        704
         4        700
         5        664
                 ...
WN       7        814
         8        794
         9        792
         11       766
         12       769
Name: DEST_AIR, Length: 149, dtype: int64

## Group 별 집계결과에서 특정 조건의 항목만 조회
- Groupby 집계 후 boolean indexing 처리한다.

In [78]:
res = df.groupby('AIRLINE')['CANCELLED'].sum()
print(res[res >=100])

AIRLINE
AA    154
EV    146
MQ    152
OO    142
Name: CANCELLED, dtype: int64

# 사용자 정의 집계함수를 만들어 적용

## 사용자 정의 집계 함수 정의
- 매개변수
    1. Series 또는 DataFrame을 받을 매개변수(필수)
    2. 필요한 값을 받을 매개변수를 선언한다. (선택)

## agg() 를 사용해 사용자 정의 집계 함수 호출
- DataFrame.agg(func=None, axis=0, \*args, \*\*kwargs)
    - axis : 사용자 정의 함수에 전달할 값들(Series)의 축 지정
- Series.agg(func=None, axis=0, \*args, \*\*kwargs)
    - DataFrame의 agg와 매개변수 구조를 맞추기 위해 axis 지정한다. (kwargs를 이용해 매개변수 전달할 경우 axis는 생략해도 된다. - axis기본값 0을 그냥 쓰면 되므로. - keyword 인자 뒤에 position 인자는 안되서 *args로 값 전달시에는 axis를 지정해야 한다.)
- DataFrameGroupBy.agg(func, \*args, \*\*kwargs) : 
    - axis 지정안함.
    - 사용자 함수에 Series를 group 별로 전달한다.
- SeriesGroupBy.agg(func=None,  \*args, \*\*kwargs)  
    - axis 지정안함
    - 사용자 함수에 Series를 group 별로 전달한다.
  
- \*args, \*\*kwargs는 사용자 정의 함수에 선언한 매개변수가 있을 경우 전달할 값을 전달한다.  
    - 키워드 인자를 이용해 가변인자로 전달하는 것이 편하다.

# pivot_table()
엑셀의 pivot table 기능을 제공하는 메소드.    
분류별 집계(Group으로 묶어 집계)를 처리하는 함수로 group으로 묶고자 하는 컬럼들을 행과 열로 위치시키고 집계값을 값으로 보여준다.    
역할은 `groupby()`를 이용한 집계와 같은데 **여러개 컬럼을 기준으로 groupby 를 할 경우 집계결과를 읽는 것이 더 편하다.(가독성이 좋다)**

> pivot() 함수와 역할이 다르다.   
> pivot() 은 index와 column의 형태를 바꾸는 reshape 함수.

- `DataFrame.pivot_table(values=None, index=None, columns=None, aggfunc='mean', fill_value=None, margins=False, dropna=True, margins_name='All')`
- **매개변수**
    - **index**
        - 문자열 또는 리스트. index로 올 컬럼들 => groupby였으면 묶었을 컬럼
    - **columns**
        - 문자열 또는 리스트. column으로 올 컬럼들 => groupby였으면 묶었을 컬럼 (index/columns가 묶여서 groupby에 묶을 컬럼들이 된다.)
    - **values**
        - 문자열 또는 리스트. 집계할 대상 컬럼들
    - **aggfunc**
        - 집계함수 지정. 함수, 함수이름문자열, 함수리스트(함수이름 문자열/함수객체), dict: 집계할 함수
        - 기본(생략시): 평균을 구한다. (mean이 기본값)
    - **fill_value, dropna**
        - fill_value: 집계시 NA가 나올경우 채울 값
        - dropna: boolean. 컬럼의 전체값이 NA인 경우 그 컬럼 제거(기본: True)
    - **margins/margins_name**
        - margin: boolean(기본: False). 총집계결과를 만들지 여부.
        - margin_name: margin의 이름 문자열로 지정 (생략시 All)

## 두개의 컬럼을 grouping 해서 집계
- 항공사/출발공항코드 별 취소 총수 (1이 취소이므로 합계를 구한다.)
- 사용컬럼
    - grouping할 컬럼
        - AIRLINE: 항공사
        - ORG_AIR: 출발 공항코드
    - 집계대상컬럼
        - CANCELLED: 취소여부 - 1:취소, 0: 취소안됨
- 집계: sum

In [79]:
df.pivot_table(index='AIRLINE',
              columns='ORG_AIR',
              values='CANCELLED',
              aggfunc='sum')

ORG_AIR   ATL   DEN   DFW   IAH  LAS   LAX  MSP   ORD  PHX   SFO
AIRLINE
AA        3.0   4.0  86.0   3.0  3.0  11.0  3.0  35.0  4.0   2.0
AS        0.0   0.0   0.0   0.0  0.0   0.0  0.0   0.0  0.0   0.0
B6        NaN   0.0   0.0   NaN  0.0   0.0  NaN   0.0  0.0   1.0
DL       28.0   1.0   0.0   0.0  1.0   1.0  4.0   0.0  1.0   2.0
EV       18.0   6.0  27.0  36.0  NaN   NaN  6.0  53.0  0.0   NaN
F9        0.0   2.0   1.0   0.0  1.0   1.0  1.0   4.0  0.0   0.0
HA        NaN   NaN   NaN   NaN  0.0   0.0  NaN   NaN  0.0   0.0
MQ        5.0   NaN  62.0   0.0  NaN   0.0  0.0  85.0  NaN   NaN
NK        1.0   1.0   6.0   0.0  1.0   1.0  3.0  10.0  2.0   NaN
OO        3.0  25.0   2.0  10.0  0.0  15.0  4.0  41.0  9.0  33.0
UA        2.0   9.0   1.0  23.0  3.0   6.0  2.0  25.0  3.0  19.0
US        0.0   0.0   2.0   2.0  1.0   0.0  0.0   6.0  7.0   3.0
VX        NaN   NaN   NaN   NaN  0.0   3.0  NaN   0.0  NaN   3.0
WN        9.0  13.0   NaN   NaN  7.0  32.0  1.0   NaN  6.0  25.0

In [83]:
df.pivot_table(index = 'AIRLINE',
              columns = 'ORG_AIR',
              values = 'CANCELLED',
              aggfunc = 'sum', # 
              margins = True, # 행/열 별 + 총 집계  테이블 마지막에 ALL행 추가
              margins_name = "총계" # margine 행/열 행 이름 설정
              )

ORG_AIR   ATL   DEN    DFW   IAH   LAS   LAX   MSP    ORD   PHX   SFO   총계
AIRLINE
AA        3.0   4.0   86.0   3.0   3.0  11.0   3.0   35.0   4.0   2.0  154
AS        0.0   0.0    0.0   0.0   0.0   0.0   0.0    0.0   0.0   0.0    0
B6        NaN   0.0    0.0   NaN   0.0   0.0   NaN    0.0   0.0   1.0    1
DL       28.0   1.0    0.0   0.0   1.0   1.0   4.0    0.0   1.0   2.0   38
EV       18.0   6.0   27.0  36.0   NaN   NaN   6.0   53.0   0.0   NaN  146
F9        0.0   2.0    1.0   0.0   1.0   1.0   1.0    4.0   0.0   0.0   10
HA        NaN   NaN    NaN   NaN   0.0   0.0   NaN    NaN   0.0   0.0    0
MQ        5.0   NaN   62.0   0.0   NaN   0.0   0.0   85.0   NaN   NaN  152
NK        1.0   1.0    6.0   0.0   1.0   1.0   3.0   10.0   2.0   NaN   25
OO        3.0  25.0    2.0  10.0   0.0  15.0   4.0   41.0   9.0  33.0  142
UA        2.0   9.0    1.0  23.0   3.0   6.0   2.0   25.0   3.0  19.0   93
US        0.0   0.0    2.0   2.0   1.0   0.0   0.0    6.0   7.0   3.0   21
VX        NaN   NaN    NaN   NaN   0.0   3.0   NaN    0.0   NaN   3.0    6
WN        9.0  13.0    NaN   NaN   7.0  32.0   1.0    NaN   6.0  25.0   93
총계       69.0  61.0  187.0  74.0  17.0  70.0  24.0  259.0  32.0  88.0  881

## 3개 이상의 컬럼을 grouping해서 집계
- 항공사/월/출발공항코드 별 취소 총수 
- grouping할 컬럼
    - AIRLINE:항공사
    - MONTH:월
    - ORG_AIR: 출발지 공항
- 집계 대상컬럼
    - CANCELLED: 취소여부
- 집계 : sum

In [84]:
df.groupby(['AIRLINE','MONTH','ORG_AIR'])['CANCELLED'].sum()

AIRLINE  MONTH  ORG_AIR
AA       1      ATL        0
                DEN        0
                DFW        8
                IAH        0
                LAS        0
                          ..
WN       12     LAS        1
                LAX        2
                MSP        0
                PHX        0
                SFO        0
Name: CANCELLED, Length: 1133, dtype: int64

In [85]:
df.pivot_table(index = ['AIRLINE', 'ORG_AIR'],
               columns = 'MONTH',
               values = 'CANCELLED',
               aggfunc = 'sum',
               margins = True)

MONTH                1      2     3     4     5      6     7     8     9  \
AIRLINE ORG_AIR
AA      ATL        0.0    2.0   1.0   0.0   0.0    0.0   0.0   0.0   0.0
        DEN        0.0    1.0   0.0   0.0   2.0    0.0   0.0   0.0   0.0
        DFW        8.0   33.0  13.0   4.0   8.0    7.0   1.0   2.0   1.0
        IAH        0.0    1.0   0.0   0.0   1.0    0.0   0.0   1.0   0.0
        LAS        0.0    2.0   0.0   0.0   0.0    0.0   1.0   0.0   0.0
...                ...    ...   ...   ...   ...    ...   ...   ...   ...
WN      LAX        3.0    2.0   3.0   2.0   1.0    0.0   9.0   4.0   3.0
        MSP        1.0    0.0   0.0   0.0   0.0    0.0   0.0   0.0   0.0
        PHX        0.0    2.0   1.0   1.0   0.0    0.0   1.0   0.0   0.0
        SFO        4.0    5.0   0.0   2.0   2.0    6.0   0.0   2.0   2.0
All              104.0  195.0  94.0  58.0  81.0  100.0  56.0  44.0  17.0

MONTH              11    12  All
AIRLINE ORG_AIR
AA      ATL       0.0   0.0    3
        DEN       0.0   1.0    4
        DFW       3.0   6.0   86
        IAH       0.0   0.0    3
        LAS       0.0   0.0    3
...               ...   ...  ...
WN      LAX       3.0   2.0   32
        MSP       0.0   0.0    1
        PHX       1.0   0.0    6
        SFO       2.0   0.0   25
All              51.0  81.0  881

[115 rows x 12 columns]

# 기타 메소드

## apply() - Series, DataFrame의 데이터 일괄 처리

데이터프레임의 행들과 열들 또는 Series의 원소들에 공통된 처리를 할 때 apply 함수를 이용하면 반복문을 사용하지 않고 일괄 처리가 가능하다.

- DataFrame.apply(함수, axis=0, args=(), \*\*kwarg)
    - 인수로 행이나 열을 받는 함수를 apply 메서드의 인수로 넣으면 데이터프레임의 행이나 열들을 하나씩 함수에 전달한다.
    - 매개변수
        - **함수**: DataFrame의 행들 또는 열들을 전달할 함수
        - **axis**: **0-컬럼(열)을 전달, 1-행을 전달 (기본값 0)**
        - **args**: 함수에 행/열 이외에 전달할 매개변수를 위치기반(순서대로) 튜플로 전달
        - **\*\*kwarg**: 함수에 행/열 이외에 전달할 매개변수를 키워드 인자로 전달
- Series.apply(함수, args=(), \*\*kwarg)
    - 인수로 Series의 원소들을 받는 함수를 apply 메소드의 인수로 넣으면  Series의 원소들을 하나씩 함수로 전달한다.
    - 매개변수
        - **함수**: Series의 원소들을 전달할 함수
        - **args**: 함수에 원소 이외에 전달할 매개변수를 위치기반(순서대로) 튜플로 전달
        - **\*\*kwarg**: 함수에 원소 이외에 전달할 매개변수를 키워드 인자로 전달

In [98]:
df = pd.DataFrame(np.arange(24).reshape(6,4))
df.columns = ['C1', 'C2', 'C3', 'C4']
df

   C1  C2  C3  C4
0   0   1   2   3
1   4   5   6   7
2   8   9  10  11
3  12  13  14  15
4  16  17  18  19
5  20  21  22  23

In [99]:
def func1(value):
    return value+10

In [101]:
def func2(value:"시리즈 원소", cnt:"더해줄 값"):
    return value + cnt

In [106]:
df['C1'].apply(func2, cnt=5)

0     5
1     9
2    13
3    17
4    21
5    25
Name: C1, dtype: int64

## cut() - 연속형(실수)을 범주형으로 변환
- cut() : 지정한 값을 기준으로 구간을 나눠 그룹으로 묶는다.
    - `pd.cut(x, bins,right=True, labels=None)`
    - 매개변수
        - **x**: 범주형으로 바꿀 대상. 1차원 배열형태(Series, 리스트, ndarray)의 자료구조
        - **bins**: 범주로 나눌때의 기준값(구간경계)들을 리스트로 묶어서 전달한다.
        - **right**: 구간경계의 오른쪽(True-기본)을 포함할지 왼쪽(False)을 포함할지
        - **labels**: 각 구간(범주)의 label을 리스트로 전달
            - 생략하면 범위를 범주명으로 사용한다. (ex: (10, 20], ()-포함안함, []-포함)

In [260]:
d = {
    'ages': np.random.randint(1,100, size=30),
    'tall' : np.round(np.random.normal(170,10, size=30),2)    
}
df = pd.DataFrame(d)
df.head(5)

   ages    tall
0    58  167.83
1    14  189.03
2    67  169.38
3    52  181.35
4    51  182.78

In [261]:
df['tall'].value_counts()

167.83    1
189.03    1
182.83    1
184.93    1
172.63    1
161.06    1
171.24    1
163.80    1
173.39    1
181.20    1
178.55    1
161.24    1
163.68    1
177.22    1
182.61    1
183.44    1
165.75    1
142.42    1
160.48    1
169.48    1
166.36    1
156.21    1
169.83    1
162.24    1
194.45    1
181.41    1
182.78    1
181.35    1
169.38    1
160.68    1
Name: tall, dtype: int64

In [265]:
pd.cut(df['ages'], # 범주형으로 만들 대상
       bins=3,     # bins = n --> n에 들어가는 값만큼 등분한다.
       right=True,
       labels=None)

0      (35.0, 66.0]
1     (3.907, 35.0]
2      (66.0, 97.0]
3      (35.0, 66.0]
4      (35.0, 66.0]
5     (3.907, 35.0]
6     (3.907, 35.0]
7      (66.0, 97.0]
8     (3.907, 35.0]
9      (35.0, 66.0]
10     (66.0, 97.0]
11     (66.0, 97.0]
12     (66.0, 97.0]
13     (66.0, 97.0]
14     (35.0, 66.0]
15    (3.907, 35.0]
16     (66.0, 97.0]
17    (3.907, 35.0]
18    (3.907, 35.0]
19     (66.0, 97.0]
20    (3.907, 35.0]
21     (35.0, 66.0]
22     (35.0, 66.0]
23     (35.0, 66.0]
24     (66.0, 97.0]
25    (3.907, 35.0]
26     (66.0, 97.0]
27    (3.907, 35.0]
28     (35.0, 66.0]
29     (35.0, 66.0]
Name: ages, dtype: category
Categories (3, interval[float64, right]): [(3.907, 35.0] < (35.0, 66.0] < (66.0, 97.0]]